<h1 class= "text" mat-dialog-title>{{especie.name}}</h1>
    <div>
        <hr>   
        <div mat-dialog-content> 
        <br> 
        <b><p>Classification: {{especie.classification}}</p></b>
        <b><p>Designation: {{especie.designation}}</p></b>
        <b><p>Average Height: {{especie.average_height}}</p></b>
        <b><p>Skin Colors: {{especie.skin_colors}}</p></b>
        <b><p>Hair Colors: {{especie.hair_colors}}</p></b>
        <b><p>Eye Colors: {{especie.eye_colors}}</p></b>
        <b><p>Average Lifespan: {{especie.average_lifespan}}</p></b>
        <b><p>Language: {{especie.language}}</p></b>
        <br>
    </div>
</div>
<div mat-dialog-actions>
    <button class="button" mat-button mat-dialog-close>Cerrar</button>
</div>