<h1 class= "text" mat-dialog-title>{{personaje.name}}</h1>
    <div>
        <hr>   
        <div mat-dialog-content> 
        <br> 
        <b><p>Height: {{personaje.height}}</p></b>
        <b><p>Mass: {{personaje.mass}}</p></b>
        <b><p>Hair Color: {{personaje.hair_color}}</p></b>
        <b><p>Skin Color: {{personaje.skin_color}}</p></b>
        <b><p>Eye Color: {{personaje.eye_color}}</p></b>
        <b><p>Birth Year: {{personaje.birth_year}}</p></b>
        <b><p>Gender: {{personaje.gender}}</p></b>
        <br>
    </div>
</div>
<div mat-dialog-actions>
    <button class="button" mat-button mat-dialog-close>Cerrar</button>
</div>