<h1  class= "text" mat-dialog-title>{{vehiculo.name}}</h1>
    <div>
        <hr>   
        <div mat-dialog-content> 
        <br> 
        <b><p>Model: {{vehiculo.model}}</p></b>
        <b><p>Manufacturer: {{vehiculo.manufacturer}}</p></b>
        <b><p>Cost in Credits: {{vehiculo.cost_in_credits}}</p></b>
        <b><p>Length: {{vehiculo.length}}</p></b>
        <b><p>Max Atmosphering Speed: {{vehiculo.max_atmosphering_speed}}</p></b>
        <b><p>Crew: {{vehiculo.crew}}</p></b>
        <b><p>Passengers: {{vehiculo.passengers}}</p></b>
        <b><p>Cargo Capacity: {{vehiculo.cargo_capacity}}</p></b>
        <b><p>Consumables: {{vehiculo.consumables}}</p></b>
        <b><p>Vehicle Class: {{vehiculo.vehicle_class}}</p></b>
        <br>
    </div>
</div>
<div mat-dialog-actions>
    <button class="button"  mat-button mat-dialog-close>Cerrar</button>
</div>